<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head th:replace="fragments/headerFrags.html :: headerfragment"></head>
<body>
	<div th:replace="fragments/bodyFrags.html :: navbarfragment"></div>
	<div th:replace="fragments/bodyFrags.html :: breadcrumbfragment"></div>
	<div th:replace="fragments/bodyFrags.html :: sessionfragment"></div>
	<div th:replace="fragments/bodyFrags.html :: homefragment"></div>
	<div th:replace="fragments/footerFrags.html :: footerfragment"></div>
</body>